p {
    margin-top: 100px;
}
div {
align-items: center;
}
.image {
    margin-top: 50px;
    border-radius: 50%;
}
.main-container {
display: flex;
justify-content: space-around;
}
.h11 {
width: 50%;
font-family: Georgia, 'Times New Roman', Times, serif;

}
body {
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}