.form {
  flex-wrap: wrap;
  flex-direction: column;
 display: grid;
  padding: 100px 25px 25px 25px;

}

.name {
  padding: 10px;
}
.email {
  padding: 10px;
}
.message {
  padding: 10px;
}

.button{
    padding: 10px;
}
.button:hover{
    background-color: rgb(44, 135, 56);
  color: black;
}