
.tecnologia{
    display:flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    padding: 5em;
    flex-wrap: wrap;
    
    
   
}
.title{
    display: flex;
    justify-content: center;
    font-size: 2em;
    color:rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo{
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 50%;
}